.formulaire-livre {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    max-width: 800px;
}

.section-gauche,
.section-droite {
    flex: 1;
    margin: 10px;
}

.section-droite {
    margin-left: 2rem;
}

.section-gauche {
    max-width: 300px;
}

.input-alt-text,
input,
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000000;
    background-color: #f9f9f9;
    /* Ajouter une couleur de fond légère */
    transition: border-color 0.3s;
}

.input-alt-text:focus,
input:focus,
textarea:focus,
select:focus {
    border-color: #5B26F0;
    outline: none;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg fill="none" height="24" stroke="currentColor" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M6 9l6 6 6-6"/></svg>') no-repeat right 10px center;
    background-color: #f9f9f9;
    padding-right: 30px;
    /* espace pour l'icône de la flèche */
    cursor: pointer;
}

select[multiple] {
    background-image: none;
    /* Pas de flèche pour les sélections multiples */
}

.image-apercu {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.switch-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: black;
    justify-content: space-between;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #5B26F0;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.btn-envoyer {
    background-color: #5B26F0;
    width: 100%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn-envoyer:hover {
    background-color: #3e1ab3;
}

.formulaire-container {
    max-width: 800px;
    margin: 0 auto;
    color: #fff;
}