.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #333;
    color: white;
    z-index: 1000;
}

.navbar-brand .logo {
    width: 100px;
    /* Ajustez la largeur du logo selon vos besoins */
    height: auto;
}

.hamburger {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
}

.navbar-links {
    display: flex;
    font-weight: bold;
}

.navbar-link {
    padding: 0 15px;
    color: white;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

.navbar-search input {
    padding: 0.5rem;
    margin-right: 0.6rem;
    width: 100%;
    background-color: aliceblue;
}

.navbar-icons {
    position: relative;
}

.navbar-icon {
    color: rgb(255, 255, 255);
    margin-right: 0.5rem;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 3px 7px;
    font-size: 12px;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar-links {
        flex-direction: column;
        display: none;
        width: 100%;
    }

    .navbar-links.show {
        display: flex;
    }

    .navbar-link {
        padding: 10px;
        width: 100%;
        text-align: center;
    }

    .navbar-search {
        width: 100%;
    }

    .navbar-search input {
        width: 90%;
    }

    .navbar-icons {
        width: 100%;
        justify-content: center;
    }
}
