.page-produit {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    max-width: 40rem;
    margin: 20px auto;
    width: 40rem; 
}

.image-container {
    width: 100%;
    max-width: 10rem;
    max-height: 10rem;
    margin-bottom: 3rem;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.details-container {
    width: 100%;
    text-align: left;
    margin-top: 2rem;
}

.details-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.details-container p {
    margin-bottom: 10px;
    font-size: 16px;
}

.btn-ajouter-panier {
    background-color: #5B26F0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    transition: transform 0.2s;
    /* Transition pour l'effet de mise à l'échelle */
}

.btn-ajouter-panier:active {
    transform: scale(0.95);
    /* Effet de mise à l'échelle au clic */
}

.btn-ajouter-panier:disabled {
    background-color: #ccc;
    color: #666;
    /* Couleur du texte gris */
    cursor: not-allowed;
    /* Change le curseur pour indiquer qu'il est non cliquable */
    border: 1px solid #aaa;
}

.message-validation {
    margin-top: 10px;
    color: green;
    font-size: 14px;
    font-weight: bold;
}