.panier {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 8px;
}

.panier-items {
    border-bottom: 1px solid #ccc;
}

.panier-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 8px 0;
}


.panier-total {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: #ddd;
    margin-top: 10px;
}

.commander-button {
    padding: 10px 20px;
    background-color: #5c67f2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.remove-button {
    background-color: #ddd;
    color: rgb(255, 8, 8);
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    /* Un peu d'espace à gauche pour ne pas coller au prix */
}

@media (max-width: 600px) {

    .panier-item,
    .panier-total {
        flex-direction: column;
        align-items: flex-start;
    }

    .panier-item div {
        justify-content: flex-start;
        flex-direction: column;
    }

    .commander-button {
        width: 100%;
        /* Bouton prend toute la largeur disponible */
    }
}