.grille-produits-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}

.categories {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.categorie-btn {
    padding: 10px 20px;
    margin-right: 10px;
    background: none;
    border: 2px solid #000;
    cursor: pointer;
}

.categorie-btn.active {
    background-color: #000;
    color: #fff;
}

.grille-produits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.produit-card {
    width: 13rem;
    margin-bottom: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.produit-card:hover {
    transform: scale(1.05);
}

.produit-vide {
    width: 13rem;
    height: 19rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
    margin: 0.5rem;
}

@media (max-width: 768px) {

    .produit-card,
    .produit-vide {
        flex-basis: 100%;
        margin-bottom: 10px;
    }
}